/* hola això és un full d'estils força cutre */
html {
  font-size: 15pt;
}

body {
  background-color: #fff;
  background-repeat: no-repeat;
  color: #333;
  font-family: helvetica, sans-serif, arial;
  font-size: 11pt;
  margin-left: 40pt;
  margin-right: 40pt;
}
.menu {
  margin-top: 25pt;
  padding: 10pt 20pt 10pt;
  background-color: #999;
  width: auto;
  border-radius: 15pt;
}
.menu img {
  border-radius: 7pt;
}
#botonsocial {
 background-color: none;
 float: right;
 width: auto;
}
#main {
  width: 60%;
  float:left;
  margin-top: 30pt;
  padding: 10pt;
  padding-left: 20pt;
}
#column {
  text-align: inherit;
  width: 30%;
  float: right;
  padding-left: 20pt;
  padding-top: 10pt;
  margin-top: 30pt;
  border-radius: 15pt;
  padding-bottom: 50pt;
  background-color: #ddd;
}
.containter {
  width: auto;
  padding: 30pt;
}
a {
  color: black;
  text-decoration: none;
}
a:hover {
  color: #fff;
}
#main a:hover {
  color: #555;
  text-decoration: underline;
}

#column a:hover {
  color: #555;
  text-decoration: underline;
  }

#main table {   font-size: 12pt;
          margin: 20px;
          margin-bottom: 30px;
          width: 480px;
          text-align: left;
          border-collapse: collapse;
          border-radius: 15px;
        }

#main th {  font-size: 13pt;
            font-weight: bold;
            padding: 8px;
            background: #aaa;
            border-top: 4px solid #ccc;
            border-bottom: 1px solid #fff;
            color: black;
          }

#main td {  padding: 8pt;
            background: #ddd;
            border-bottom: 1pt solid #fff;
            color: black;
            border-top: 1pt solid transparent;

         }
footer {
  float: bottom;

}
